@{
    ViewData["Title"] = "WebSocket клиент";
}

<h1>WebSocket клиент</h1>
<span id="connectionStatus"></span>


@section Scripts
{
    <script src="~/js/webSocket.js" asp-append-version="true"></script>
}