@model SharedLibrary.Models.ChatMessage
@{
    ViewData["Title"] = "WebSocket";
}

<div class="row">
    <div class="col-12 col-xl-6 mb-5 mb-xl-0">
        <h1 class="display-5">WebSocket клиент</h1>
        <span id="connectionStatus" class="d-inline-block text-muted mb-2"></span>
    </div>
    <div class="col-12 col-xl-6">
        <h1 class="display-5">История сообщений</h1>
        <div id="messageHistory"></div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/webSocket.js" asp-append-version="true" type="module"></script>
}