@model SharedLibrary.DTOs.ChatMessageDTO
@{
    ViewData["Title"] = "История сообщений";
}

<div class="row">
    <div class="col-12 col-xl-6 mb-5 mb-xl-0">
        <h1 class="display-5">Клиент истории сообщений</h1>
        <span id="connectionStatus" class="d-inline-block text-muted mb-2"></span>
    </div>
    <div class="col-12 col-xl-6">
        <h1 class="display-5">История сообщений</h1>
        <div id="messageHistory"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/messageHistory.js" type="module" asp-append-version="true"></script>
}